<ion-header>
  <ion-navbar color="sblue">

      <ion-buttons left>
          <button ion-button icon-only (click)="toggleKeypad()">
            <ion-icon name="keypad"></ion-icon>
          </button>
    
        </ion-buttons>

    <ion-title>
      Pick a Contact
    </ion-title>

   

    <ion-buttons end>
      <button ion-button icon-only (click)="pickContact()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- dial pad -->
  <ion-item *ngIf="displayKeypad">
    <ion-input clearInput type="tel" placeholder="enter number" [(ngModel)]="keypadNumber"></ion-input>
    <button ion-button icon-only item-right (click)="keypadDial()"><ion-icon name="call"></ion-icon></button>
  </ion-item>

  <!-- display selected entry from addr book -->
  <ion-list *ngIf="contact.displayName">
    <ion-list-header>{{contact.displayName}}</ion-list-header>
    <ion-item-sliding *ngFor="let item of contact.phoneNumbers" detail-push>

      <button ion-item (click)="dial(item)">
        <ion-icon [name]="item.icon" [color]="item.icon=='star'?'bright':'muted'" item-start></ion-icon>
        {{item.phone}}
        <ion-note item-end>{{item.type}}</ion-note>
        <p>{{item.country}}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button icon-only [color]="item.icon == 'star' ? 'danger':'secondary'" (click)="toggleFav(item)">
          <ion-icon [name]="item.icon == 'star' ? 'star-outline':'star'"></ion-icon>&nbsp;
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item text-wrap *ngIf="!contact.phoneNumbers.length && contact.displayName">
      <p> No phone numbers found </p>
    </ion-item>
  </ion-list>

  <ion-item (click)="pickContact()" text-wrap *ngIf="!contact.displayName && !displayKeypad">
    <p class="vtext"> No contact selected. Tap
      <ion-icon class="vicon" name="contact"></ion-icon> or <ion-icon class="vicon" name="keypad"></ion-icon>  to get started</p>
  </ion-item>


 <!-- recent call history -->
  <ion-list>
    <ion-list-header>Recent Calls
      <button ion-button icon-only clear item-right (click)="removeAllRecent()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item-sliding detail-push *ngFor="let recent of recentList">
      <button ion-item (click)="dial(recent)">
        {{recent.name}}
        <ion-note item-end>{{recent.type}}</ion-note>
        <p>{{recent.phone}}</p>
      </button>

      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="removeRecent(recent)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item text-wrap *ngIf="!recentList.length">
      <p>No recent calls made</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [@cardUsed]="cardState" class="cardFooter">
    <p text-center>card in use: {{cardInUse}}</p>
</ion-footer>
