
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";


// custom flat colors

$colors: (
  primary:    #488aff,
  secondary:  #1abc9c,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bright:     #f1c40f,
  muted:      #7f8c8d,
  sblue:      #446CB3,
  concrete:    #95a5a6
);


@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
