<ion-header >
  <ion-navbar color="sblue">
    <ion-title>
      Favorites
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="removeAllFav()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding  *ngFor="let fav of favList" detail-push>
      <button ion-item (click)="dial(fav)">
        {{fav.name}}
        <ion-note item-end>{{fav.type}}</ion-note>
        <p>{{fav.phone}}</p>
      </button>

      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="removeFav(fav)">
          <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="muted" (click)="directDial(fav)">
          <ion-icon name="call"> DD</ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item no-lines text-wrap *ngIf="!favList.length">
    <p>No favorites yet. Add favorites from the contact menu by sliding contacts to the left</p>
  </ion-item>
</ion-content>

<ion-footer [@cardUsed]="cardState" class="cardFooter">
    <p text-center>card in use: {{cardInUse}}</p>
</ion-footer>
